<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/10a3876883.js" crossorigin="anonymous"></script>
    <title><%= title%></title>
    <%- include('partials/head')%>
</head>
<body>
    <%- include('partials/navigation')%>

    <div>
        <div>
            <h1 class="text-center p-3">Hi!! <br> My name is: Jemima Antonia Noemi Lopez Juarez</h1>
            <p>I ended up Sistem Engineer the 10th semester in Universidad Mariano Galvez of Quetzaltenango.
            <br>My personal satisfaction is learning, creating, innovating, having goals to achieve that help me grow 
            <br>as a person and professional. I like being part of a team, giving my best performance, helping as 
            <br>well as asking for help.</p>
        </div>
        <div>
            <h2>Skills in the use of programming technologies:</h2>
            <div class="icons">
                <ul>
                    <li id="css"><a><img src="/image/css.jpg" alt=""></a></li>
                    <li id="html"><a><img src="/image/html.jpg" alt=""></a></li>
                    <li id="js"><a><img src="/image/js.jpg" alt=""></a></li>
                    <li id="node"><a><img src="/image/node.jpg" alt=""></a></li>
                    <li id="react"><a><img src="/image/react.jpg" alt=""></a></li>
                    <li id="java"><a><img src="/image/java.jpg" alt=""></a></li>
                    <li id="sql"><a><img src="/image/sql.jpg" alt=""></a></li>
                    <li id="php"><a><img src="/image/php.jpg" alt=""></a></li>
                </ul>
            </div>                
        </div>
        
        <div>
            <h2>Certificates:</h2>
            <div class="imgAll">
                <img src="/image/img6.jpg" alt="">
                <img class="img7" src="/image/img7.jpg" alt="">
            </div>           
        </div>
    </div>
    <%- include('partials/footer')%>
</body>
</html>