<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/10a3876883.js" crossorigin="anonymous"></script>
    <title><%= title%></title>
    <%- include('partials/head')%>
</head>
<body>
    <%- include('partials/navigation')%>

    <div>
        <div>
            <h1 class="text-center p-3">Hi!!<br> My name is: Jemima Antonia Noemi Lopez Juarez</h1>
            <p>I ended up Sistem Engineer the 10th semester in Universidad Mariano Galvez of Quetzaltenango.
                My personal satisfaction is learning, creating, innovating, having goals to achieve that hep me grow as a person and professional.  
                I like being part of a team, giving my best performance, helping as well as asking for help.</p>
        </div>
        <div>
            <h2>Skills in the use of programming technologies:</h2>
            <div class="icons">
                <ul>
                    <li id="css"><a><i class="fa-brands fa-css3 fa-3x" arial-hidden="true"></i></a></li>
                    <li id="html"><a></a><i class="fa-brands fa-html5 fa-3x" arial-hidden="true"></i></a></li>
                    <li id="js"><a><i class="fa-brands fa-square-js fa-3x" arial-hidden="true"></i></a></li>
                    <li id="node"><a><i class="fa-brands fa-node fa-3x" arial-hidden="true"></i></a></li>
                    <li id="java"><a><i class="fa-brands fa-java fa-css3" arial-hidden="true"></i></a></li>
                    <li id="sql"><a><i class="fa-sharp fa-solid fa-database fa-3x" arial-hidden="true"></i></a></li>
                </ul>
            </div>                
        </div>
        <div>
            <h2>Soft skills:</h2>
            <div class="img2">
                <img src="/image/img3.jpg" alt="">
            </div>          
        </div>
    </div>
    <%- include('partials/footer')%>
</body>
</html>