<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <%- include('partials/head')%>
</head>
<body>
    <%- include('partials/navigation')%>
    <div class="container">
        <h1 class="text-center">These are some projects that I've worked on.</h1>
        <div class="angul">
            <a href="https://github.com/jemima-lopez/proyecto-angular"></a>
        </div>
        <div class="node">
            
            <div class="img4">
                <div>
                    <h3>NodeJS Project</h3>
                    <h3>This is my firsr project, I worked with NodeJS. The code is in GitHub, 
                        <br>it's a simple web page, with a small menu that I use as a guide for 
                        <br>this current web page.</h3>
                </div>
                <a href="https://github.com/jemima-lopez/nodejs" target="_blank"><img src="/image/img4.jpg" alt=""></a>
            </div>  

             <div class="img5">
                <div>
                    <h3>Angular Project</h3>
                    <h3>In this project I worked using JavaScript, Angular with TypeScript, 
                    <br>here I learned more about layout, I also work with non-relational
                    <br>databases such as json objects. This web page is about an online 
                    <br>store where users can log in to be identified.</h3>
                </div>
                <a href="https://github.com/jemima-lopez/proyecto-angular" target="_blank"><img src="/image/img5.jpg" alt=""></a>
            </div>  
        </div>
        
    
    </div>
    
    <%- include('partials/footer')%>
</html>