<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <%- include('partials/head')%>
</head>
<body>
    <%- include('partials/navigation')%>
    <div>
        <h1 class="text-center p-3">These are some projects that I have worked on.</h1>
        <div class="angul">
            <a href="https://github.com/jemima-lopez/proyecto-angular"></a>
        </div>
        <div class="node">
            
            <div class="img4">
                <div>
                    <h3>NodeJS Project</h3>
                    <h3>This is my firsr project, I worked with NodeJS. 
                        The code is in GitHub.</h3>
                </div>
                <a href="https://github.com/jemima-lopez/nodejs" target="_blank"><img src="/image/img4.jpg" alt=""></a>
            </div>  

             <div class="img5">
                <div>
                    <h3>Angular Project</h3>
                    <h3>In this project I worked using Angular with TypeScript,
                        it was a good <br>experience.</h3>
                </div>
                <a href="https://github.com/jemima-lopez/proyecto-angular" target="_blank"><img src="/image/img5.jpg" alt=""></a>
            </div>  
        </div>
        
    
    </div>
    
    <%- include('partials/footer')%>
</html>