<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <%- include('partials/head')%>
</head>
<body>
    <%- include('partials/navigation')%>
    <div>
        <h1 class="text-center p-3">These are some projects that I have worked on.</h1>
        <div class="angul">
            <a href="https://github.com/jemima-lopez/proyecto-angular"></a>
        </div>
        <div class="node">
            <a href="https://github.com/jemima-lopez/nodejs"></a>
        </div>
        <div class="back">
            <a href="https://github.com/jemima-lopez/backend"></a>
        </div>
    
    </div>
    
    <%- include('partials/footer')%>
</html>