
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


<footer class="footer text-center p-2">
    <h3>Thank you for your visit!!</h3>
    <div class="wrapper">
        <ul>
            <li class="whatsapp"><a href="https://api.whatsapp.com/send?phone=50241093636" target="_blank"><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></a></li>
            <li class="linkedin"><a href="https://gt.linkedin.com/in/jemima-antonia-noemi-lopez-juarez?trk=people-guest_people_search-card" target="_blank"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a></li>
            <li class="github"><a href="https://github.com/jemima-lopez" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></li>
        </ul>
    </div>
    <div class="fin">
<small>&copy; 2022 - JAN LJ - All rights reserved. </small>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
